@import url(../css/fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}
:root {
  /* theme colors */
  --white: white;
  --black: black;
  --hover: #1d3557;
  --text-color: #333;
  --red: #e63946;

  /* gradient color */
  --young: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );

  /* theme font */
  --Abel: Abel, cursive;
  --Anton: Anton, cursive;
  --Josefin: Josefin, cursive;
  --Lexend: Lexend, cursive;
  --Livvic: Livvic, cursive;
}

html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

/*------------------------Global classes-----------------------------*/

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
/*----------x-------------Global classes-------------x---------------*/

/* -----------------------Navbar----------------------------- */

/* ----------CSS FOOTER------------ */
.footer {
  background-color: #26272b;
  padding: 25px 0 0;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #fff;
}
.footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
footer a {
  color: #737373;
}
footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-tittle {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  text-transform: uppercase;
  margin: 30px 0 15px;
  letter-spacing: 4px;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.contact-wrap {
  margin-bottom: 2rem;
}
.about-us-text {
  color: #737373;
}
.about-us-tittle {
  text-align: center;
}
.fab {
  color: rgba(255, 255, 255, 0.9);
}
.copyright-wrap {
  padding: 20px 0 20px;
}
.copyright-text {
  margin: 0;
  color: #737373;
}
.social-icons {
  padding-left: 51%;
  margin-bottom: 0;
  list-style: none;
  text-align: left;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons a {
  display: inline-block;
  font-size: 16px;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #737373;
  background-color: #847e7e;
}
.social-icons a.facebook:hover {
  background-color: #1877f2;
}
.social-icons a.youtube:hover {
  background-color: #ff0000;
}
.social-icons a.instagram:hover {
  background: linear-gradient(
    45deg,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}
.social-icons a.google-plus:hover {
  background-color: rgba(208, 68, 55, 1);
}
/*-------------------Responsive----------------------*/
/*Mobile and Tablet*/
@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none;
  }
  .copyright-wrap {
    flex-direction: column-reverse;
  }
  .social-icons {
    padding: 0;
    text-align: center;
  }
  .copyright-text {
    text-align: center;
  }
  .about-us-text {
    text-align: justify;
  }
  .copyright {
    margin-top: 10px;
  }
  .social-icons a.facebook {
    background-color: #1877f2;
  }
  .social-icons a.youtube {
    background-color: #ff0000;
  }
  .social-icons a.instagram {
    background: linear-gradient(
      45deg,
      #5851db,
      #833ab4,
      #c13584,
      #e1306c,
      #fd1d1d
    );
  }
  .social-icons a.google-plus {
    background-color: rgba(208, 68, 55, 1);
  }
}

/*Tablet*/
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
  .footer-tittle {
    font-size: 1.6rem;
  }
  .contact-us,
  .category {
    text-align: center;
  }
}
/*Mobile*/
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
  .footer-tittle {
    font-size: 1.4rem;
  }
  footer .copyright-text,
  footer .social-icons {
    text-align: center;
  }
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
  .contact-wrap {
    text-align: center;
  }
  .about-us-text {
    padding: 0 30px;
  }
}
